{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Historial</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header><h1>Historial de las atenciones del RCE</h1></header>
    <nav><a href="/">Volver al Menú --></a></nav>
    <main>
    
        
        <table id="table" class="table">
            <thead>
                <tr>
                    <th>Kinesiólogo</th>
                    <th>Deportista</th>
                    <th>Fecha Atención</th>
                    <th>Diagnóstico</th>
                    <th>Ejercicios</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for a in aten %}
                <tr>
                    <td>{{ a.kinesiologo }}</td>
                    <td>{{ a.deportista }}</td>
                    <td>{{ a.fecha_atencion }}</td>
                    <td>{{ a.diagnostico }}</td>
                    <td>{{ a.ejercicios }}</td>
                    <td>{{ a.observaciones }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>
